.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 90%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.galeria > a:hover img{
    /*filter: blur(2px);*/
    border: 5px solid red;
}
.Visualizar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.Visualizar img{
    width: 50%;
    max-height: 80%;
    border: 10px solid red;
}
.Visualizar:target{
    transform: scale(1); /*Tamaño de visualizacion/*/
}
.cerrarVisualizacion{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #BF0B0B;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.siguienteIMG{
    background-color: #BF0B0B;
    margin: 10px;
    display: block;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;

}

@media screen and (max-width:500px){
    
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .cerrarVisualizacion{
        top: 20px;
        right: 20px;
    }
}